<mat-toolbar color="primary" class="mat-elevation-z8">
    <span><mat-icon>eco</mat-icon>My App</span>
    <div class="space"></div>
    <a mat-button routerLink="home">Home</a>
    <a mat-button routerLink="supplier">Suppliers</a>
    <a mat-button routerLink="customer">Customers</a>
    <a mat-button routerLink="product">Products</a>
    <a mat-button routerLink="listorder">List Orders</a>
    <a mat-button routerLink="carts">Carts</a>
    <a mat-button routerLink="order">Order</a>
    <a *ngIf="!cusID" mat-raised-button color="accient" routerLink="login">Login</a>
    <a *ngIf="cusID" mat-button color="black" (click)="logout()">LogOut</a>
</mat-toolbar>