<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>OrderID</th>
                    <th>CustomerID</th>
                    <th>OrderDate</th>
                    <th>ShipDate</th>
                    <th>Ship Address</th>
                    <th>Ship Country</th>
                    <th>Postal Code</th>
                    <th>Country</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pd of list | async">
                    <td>{{pd.orderId}}</td>
                    <td>{{pd.customerId}}</td>
                    <td>{{pd.orderDate}</td>
                    <td>{{pd.shippedDate}}</td>
                    <td>{{pd.shipAddress}}</td>
                    <td>{{pd.shipCountry}}</td>
                    <td>{{pd.shipPostalCode}}</td>
                    <td>{{pd.shipCountry}}</td>
                    <td>
                        <a (click)="detail(pd.orderId)">View</a>
                    </td>
                </tr> 
            </tbody>
        </table>
    </div>
</div>